{% if adverts %}
    {% if popup %}
        <!-- Popup Adverts -->
        {% for advert in adverts %}
        <div class="modal fade" id="advertModal{{ advert.id }}" tabindex="-1" aria-labelledby="advertModalLabel{{ advert.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="advertModalLabel{{ advert.id }}">{{ advert.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if advert.image %}
                        <img src="{{ advert.image.url }}" class="img-fluid mb-3" alt="{{ advert.title }}">
                        {% endif %}
                        {{ advert.content|safe }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <!-- Regular Adverts -->
        <div class="container my-4">
            <div class="row">
                {% for advert in adverts %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if advert.image %}
                        <img src="{{ advert.image.url }}" class="card-img-top" alt="{{ advert.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ advert.title }}</h5>
                            <div class="card-text">{{ advert.content|safe }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}