{% extends 'school_app/admin/base.html' %}

{% block admin_content %}
<div class="card">
    <div class="card-header bg-danger text-white">
        <h5>Delete Gallery Category</h5>
    </div>
    <div class="card-body">
        <p>Are you sure you want to delete the gallery category "{{ object.name }}"?</p>
        <p class="text-danger">Warning: This will also delete all images in this category!</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'admin-gallerycategory-list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}