{% extends 'school_app/admin/base.html' %}

{% block admin_content %}
<div class="card">
    <div class="card-header bg-danger text-white">
        <h5>Delete Gallery Image</h5>
    </div>
    <div class="card-body">
        <p>Are you sure you want to delete the image "{{ object.title }}"?</p>
        {% if object.image %}
            <img src="{{ object.image.url }}" alt="{{ object.title }}" class="img-fluid mb-3" style="max-height: 200px;">
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'admin-galleryimage-list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}