<!-- templates/school_app/admin/sidebar.html -->

<div class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse" id="sidebarMenu">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}"
                   href="{% url 'admin_dashboard' %}">
                    <i class="fas fa-tachometer-alt me-2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'schoolinfo_update' %}active{% endif %}"
                   href="{% url 'schoolinfo_update' %}">
                    <i class="fas fa-school me-2"></i> School Info
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'heroimage' in request.resolver_match.url_name %}active{% endif %}"
                   href="{% url 'heroimage_list' %}">
                    <i class="fas fa-images me-2"></i> Hero Images
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'page' in request.resolver_match.url_name %}active{% endif %}"
                   href="{% url 'page_list' %}">
                    <i class="fas fa-file-alt me-2"></i> Pages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'section' in request.resolver_match.url_name %}active{% endif %}"
                   href="{% url 'section_list' %}">
                    <i class="fas fa-th-large me-2"></i> Sections
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'subsection' in request.resolver_match.url_name %}active{% endif %}"
                   href="">
                    <i class="fas fa-th me-2"></i> SubSections
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'news' in request.resolver_match.url_name %}active{% endif %}"
                   href="{% url 'news_list' %}">
                    <i class="fas fa-newspaper me-2"></i> News
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'event' in request.resolver_match.url_name %}active{% endif %}"
                   href="{% url 'event_list' %}">
                    <i class="fas fa-calendar-alt me-2"></i> Events
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'achievement' in request.resolver_match.url_name %}active{% endif %}"
                   href="{% url 'achievement_list' %}">
                    <i class="fas fa-trophy me-2"></i> Achievements
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'class' in request.resolver_match.url_name %}active{% endif %}"
                   href="{% url 'class_list' %}">
                    <i class="fas fa-chalkboard me-2"></i> Classes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'teacher' in request.resolver_match.url_name %}active{% endif %}"
                   href="{% url 'teacher_list' %}">
                    <i class="fas fa-chalkboard-teacher me-2"></i> Teachers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'gallery' in request.resolver_match.url_name %}active{% endif %}"
                   href="">
                    <i class="fas fa-camera me-2"></i> Gallery
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'advert' in request.resolver_match.url_name %}active{% endif %}"
                   href="">
                    <i class="fas fa-ad me-2"></i> Adverts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'testimonial' in request.resolver_match.url_name %}active{% endif %}"
                   href="">
                    <i class="fas fa-quote-left me-2"></i> Testimonials
                </a>
            </li>
        </ul>
    </div>
</div>